.paleta{
	color: #000000;
	color: #4B5053;
	color: #BBBBBB;
	color: #E8FCC2;
	color: #E1CC74;
	color: #FFCC00;
	color: #FF9D00;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.content{
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
}
.sidebar-left{
	display: flex;
	flex-flow: column;
	max-width: 25%;
	max-height: 100%;
	background: #4B5053;
	color: #BBBBBB;
	padding: 1rem;
}
.sidebar-right{
	display: flex;
	flex-flow: column;
	max-width: 75%;
	max-height: 100%;
	background: #e8fcc2;
}
.sidebar-left img{
	width: 100%
}
.sidebar-left nav ul li{
	list-style: none;
	padding: 1rem;
}
.sidebar-left nav ul li:hover{
	color: #000000;
	background-image: linear-gradient(to right, #BBBBBB, #4B5053);
	border-radius: 0.5rem;
}
